/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 5, 2014, 5:28:10 AM
    Author     : Sergiusz
*/

body{
    color: #16347a;
    background-image: url(jpeg/backwork.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 117%;
    font-family: Ubuntu;
}

div{    
    
}
#locale1 {
    position: fixed;
    left: 2%; 
    top: 0%; 
}
#locale2 {
    position: fixed;
    left: 4%; 
    top: 0%; 
}
#result {
    position: absolute;
    left: 45%;
    top: 25%;
}
#questlist {
    position: absolute; 
    left: 24%; 
    top: 18%;
}
#bottom {
    position: fixed;
    left: 80%;
    top: 6%;
}
#help {
    position: absolute;
    left: 20%; 
    top: 4%;
    font-size: 90%;
    text-align: justify;
    width: 55%;
}
#form1 textarea {
    resize: none;
    height: 240px;
    width: 360px;
    overflow: auto;
    border: 1px solid #ddd;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    background: #fff;
    padding: 3px;
    cursor: auto;
    font-family: Ubuntu;
}
#form1 input[type="radio"] {
    width: 20px;
}
#form1 input[type="checkbox"] {
    width: 20px;
}
#form1 button {
    width: auto;
    height:37px;
    line-height:37px;
    border:none;
    background: no-repeat 0 0;
    color: #495a85;
    cursor: pointer;
    text-align: center;
    font-family: Ubuntu;
    font-size: 120%;
}
#form1 button[type="auto"] {
    width: auto;
    height: auto;
    line-height:37px;
    border: none;
    background: no-repeat 0 0;
    color: #495a85;
    cursor: pointer;
    text-align: center;
    font-family: Ubuntu;
    font-size: 80%;
}
#form1 input{
    width: 400px;
    border:1px solid #ddd;
    -moz-border-radius:.3em;
    -webkit-border-radius:.3em;
    border-radius:.3em;
    background:#fff repeat-x;
    padding:3px;
    cursor:pointer;
    font-family: Ubuntu;
}
@font-face {
    font-family: Ubuntu;
    src: url("../fonts/ubuntu.ttf");
}