/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2014, 6:05:43 PM
    Author     : Sergiusz
*/

div {

}
#locale1 {
    position: fixed;
    left: 2%; 
    top: 0%; 
}
#locale2 {
    position: fixed;
    left: 4%; 
    top: 0%; 
}

html{
    overflow-y: hidden;
}

body{
    background-image: url(jpeg/back.jpg);
    background-attachment: fixed;
}

h1{
    color: #c8c8e6;  
    text-align: center;      
    font-family:  ALGERIAN;
}
.logo {
    font-size: 140px;
}
.error {
    font-size: 90px;
}
h6 {
    color: #c8c8e6;
    font-size: 14px;
    font-family: Ubuntu;
}
#form1 {
    font-family: Ubuntu;
    margin: 1em 0;
    background: no-repeat 0 0;
}
#form1 fieldset {
    margin:0;
    padding:0;
    border:none;
    float:left;
    display:inline;
    width:260px;
    margin-left:25px;
}		
#form1 p {
    margin:.5em 0;
}
#form1 label {
    display:block;
}
#form1 input, #form1 textarea{
    font-family: Ubuntu;
    width:150px;
    border:1px solid #ddd;
    -moz-border-radius:.3em;
    -webkit-border-radius:.3em;
    border-radius:.3em;
    background:#fff repeat-x;
    padding:3px;
}
#form1 textarea {
    font-family: Ubuntu;
    height:125px;
    overflow:auto;
}
#form1 p.submit {
    font-family: Ubuntu;
    clear:both;
    background:no-repeat;
    padding:0 25px 20px 25px;
    margin:0;
    text-align:right;
}
#form1 button {
    font-family: Ubuntu;
    width:auto;
    height:37px;
    line-height:37px;
    border:none;
    background:no-repeat;
    color:#fff;
    cursor:pointer;
    text-align:center;
}
#form1[type="err"] ::-webkit-input-placeholder{
    color:#EE0000;
    font-family: Ubuntu;
}
@font-face {
    font-family: Ubuntu;
    src: url("../fonts/ubuntu.ttf");
}
